<form action="ajouterFilm" method="post">
  <label for="titre">Titre:</label>
  <input type="text" name="titre" id="titre" required>
  
  <label for="duree">Durée (minutes):</label>
  <input type="number" name="duree" id="duree" required>
  
  <label for="annee_sortie">Année de sortie:</label>
  <input type="number" name="annee_sortie" id="annee_sortie" required>
  
  <label for="resume">Résumé:</label>
  <textarea name="resume" id="resume" required></textarea>
  
  <label for="affiche">Affiche (URL de l'image):</label>
  <input type="text" name="affiche" id="affiche">

  <label for="bande">Bande-annonce (URL de la vidéo):</label>
  <input type="text" name="bande" id="bande">

    <label for="statut">statut:</label>
  <input type="text" name="statut" id="statut" required>
    
  <label for="genre">Genre:</label>
  <input type="text" name="genre" id="genre" required>
  
  <input type="submit" value="Ajouter le film">
</form>
