<section>
  <h1>Modifier ou Supprimer un Film</h1>
  <form method="post" action="modifier">
    <label for="film_titre">Titre :</label>
    <input type="text" name="film_titre" id="film_titre">
    <!-- Ajoutez d'autres champs du formulaire ici -->
    <input type="submit" value="Modifier">
  </form>
  <form method="post" action="supprimer">
    <input type="submit" value="Supprimer">
  </form>
</section>
